<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Average grade:</strong>
  <%= @student.average_grade %>
</p>

<p>
  <strong>Class of:</strong>
  <%= @student.class_of %>
</p>

<p>Classes:</p>
<ul>
<% @klasses.each do |c| %>
  <li><%= c.name %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
