<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @degree.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @degree.level %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @degree.completed %>
</p>

<%= link_to 'Edit', edit_teacher_degree_path(teacher, @degree) %> |
<%= link_to 'Back', teacher_degrees_path(teacher) %>
