<!DOCTYPE html>
<html>
  <head>
    <title>RailsExhaustiveExamples</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul class="nav">
        <li><%= link_to "Home", stats_path %></li>
        <li><%= link_to "Teachers", teachers_path %></li>
        <li><%= link_to "Students", students_path %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
