<p id="notice"><%= notice %></p>

<h1>Klasses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Time</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @klasses.each do |klass| %>
      <tr>
        <td><%= klass.name %></td>
        <td><%= klass.time %></td>
        <td><%= klass.level %></td>
        <td><%= klass.teacher.name %></td>
        <td><%= link_to "Remove Class", teacher_klass_path(klass.teacher_id, klass.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
