<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= klass.name %>
</p>

<p>
  <strong>Time:</strong>
  <%= klass.time %>
</p>

<p>
  <strong>Level:</strong>
  <%= klass.level %>
</p>

<%= link_to 'Edit', edit_teacher_klass_path(teacher, klass) %> |
<%= link_to 'Back', teacher_klasses_path(teacher) %>
